
.metronome{
    text-align: center;
    margin-top: 300px;
    margin: 0 auto;
    padding: 30px;
}


h1{
    margin-top:50px;
    color:black;
    text-align: center;
}

.bandmembers{
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:130%
    
}

.containerr{

    background-image: url(./images/band.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
   
    

}
.bandmembersrow{
    margin-top: 75px;
    height: 100vh;
}
.container{
    padding-top:none;
}

.specialcolumn{
    
    background-color: none;
    
    
    
    
    
}
.addgigbutton{
    
    margin-left: 400px;
}
#songrow{
height: 100vh;
}

.card-body{
    background-color: transparent;
}


.metronomebutton{
color: red;
}

.gig_names_style{
    color: black;
    font-weight: 900;        
    font-size: 150%;
}