
.metronome{
    text-align: center;
    margin-top: 300px;
    margin: 0 auto;
    padding: 30px;
}


h1{
    margin-top:50px;
    color:black;
    text-align: center;
}

.bandmembers{
    text-decoration: none;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:130%
    
}

.containerr{

    background-image: url(./images/band.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
   
    

}
.bandmembersrow{
    margin-top: 75px;
    height: 100vh;
}
.container{
    padding-top:none;
}

.specialcolumn{
    
    background-color: none;
    
    
    
    
    
}
.addgigbutton{
    
    margin-left: 400px;
}
#songrow{
height: 100vh;
}

.card-body{
    background-color: transparent;
}


.metronomebutton{
color: red;
}

.gig_table_data{
    color: black;
    font-weight: 700;        
    font-size: 125%;
    opacity: 0.7;
}

.gig_table_header{
    color: black;
    font-weight: 900;        
    font-size: 150%;
}

.gig_page_divider{
    border-right: solid black 2px;
}

.container-fluid{
    height: 100vh;
}

.remove_gig_button{
    position:absolute;
    bottom: 2%;
    
}

.gig_info_row{
    height: 70vh;
}

.gig_comment{
    border-radius: 15px;
    width: 75%;
}

.song_status{
    margin-right: 5px;
    margin-left:5px;
}